.hide{
    display: none !important;
}

body{
    margin: 0;
    background: #fff;
}

header{
    display: flex;
    background: var(--primary-color);
    justify-content: space-between;
}

header > h1 {
    margin: auto 0;
    color: white;
    font-family: consolas;
    font-size: 2em;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0.4em 0.4em;
}

header > img {
    height: 45px;
    margin: 0 1em;
}

header > h1 >span{
    /*color:#F1892A;*/
    color: var(--primary-color);
    font-weight: 900;
    background-color: white;
    padding: 0px 5px;
    margin: 0 3px;
    border-radius: 5px;
}

header > h1:first{
    color: var(--primary-color) !important;
}

header > span {
    background: var(--secondary-color);
    margin: 0.25em 1em;
    color: white;
    font-family: consolas;
    font-size: 1.2em;
    padding: 5px;
}


.btn-small{
    border-radius: 3px;
    padding: 5px 10px;
}

textarea{
    border: 2px solid #d6d6d6;
    border-radius: 6px;
    font-size: 15px;
    background-color: #fff;
    color: var(--primary-color);
    font-family: consolas;
    font-weight: 600;
    margin: 20px auto 5px auto;
    width: 60%;
    outline: none;
    box-shadow:-15.7px 19.4px 84px 0 rgba(154, 170, 176, 0.28);
}

textarea::placeholder{
    color: white;
}

div.input-container{
    display: flex;
    flex-direction: column;
}

div.btn-container{
    text-align: center;
    margin: 15px;
}

.btn-css{
    background-color: #fff;
    color : white;
    border: none;
    outline: none;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    font-family: consolas;
    cursor: pointer;
    box-shadow :0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
}

.btn-large{
    padding: 5px 10px;
    font-size: 1.1em;
    border-radius: 5px;
}

.btn-small{
    border-radius: 3px;
    padding: 5px 10px;
}

.btn-css:hover{
    transform: scale(1.05);
}

textarea{
    border: 2px solid #d6d6d6;
    border-radius: 6px;
    font-size: 15px;
    background-color: #fff;
    color: var(--primary-color);;
    font-family: consolas;
    font-weight: 600;
    margin: 20px auto 5px auto;
    width: 60%;
    outline: none;
    box-shadow:-15.7px 19.4px 84px 0 rgba(154, 170, 176, 0.28);
}

textarea::placeholder{
    color: white;
}

td {
    padding: 5px;
    border-radius: 3px;
    color: white;
    font-family: consolas;
    text-align: center;
}
table{
    border-collapse: separate;
    border-spacing: 30px 15px;
    display: block;
    margin: auto;
    width: max-content;
}
div.container{
    text-align: center;
    margin: 2em;
    
}

div.maintenance-container{
    padding: 2em;
    margin: 2em;
    display: flex;

}

div.maintenance-container > span {
    width: 23em;
    height: 23em;
    background : var(--maintenance-svg);
    
}

div.maintenance-container > div > p {
    color: #fff;
}

div.maintenance-container > div.maintenance-text{
    margin: auto;
    background: var(--primary-color);;
    border-radius: 5px;
    padding: 1em;
}


div.maintenance-container > div > p{
    font-size: 2em;
    font-weight: 600;
    font-family: consolas;
    margin: 0;
}

td.fm-b-css{
    background-color: var(--secondary-color);
}

td.fm-i-css{
    background-color: var(--secondary-color);
}

td.fm-v-css{
    background-color: var(--secondary-color);
}

td.pc-css{
    background-color: var(--secondary-color);
}   

td.bt-pr-css{
    background-color: var(--secondary-color);
}

td.bt-ps-css{
    background-color: white;
    color: var(--secondary-color);
    border : 2px solid var(--secondary-color);
    font-weight: 600;
}

td.ot-pd-css{
    background-color: var(--secondary-color);
}

td.ot-pr-css{
    background-color: white;
    color: var(--secondary-color);
    border : 2px solid var(--secondary-color);
    font-weight: 600;
}

td.index-css{
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: 600;
}
